@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.info button {
    position:absolute;
    display: inline;   
    background-color: transparent !important;
    border-color: transparent;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial;
    font-size: 88px;
    color: black;
    top: 6.8vh;;
    margin-left: 77vw;
}

@media (max-width: 1024px) {
    .info button {
        font-size: 7vw;
    }
}


.info-modal {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    position: absolute;
    top: 150px;
    right: 00px;
    width: 100%;
    height: 150%;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items:normal;
    }

.info-modal button {
    position: absolute;
    right: 200px;
    top: 100px;
    color: black;
    font-family: "Gruppo", Arial;
    font-size: 150px;
    background-color: transparent;
    border-color: transparent;
}


.info-modal h2 {
    position: absolute;
    top: 300px;
    right: 200px;
    text-align: end;
    
}


.info-modal a {
    display: flex;
    position:absolute;
    top: 150px;
    right: 0px;
    text-align: end;
    text-decoration: none;
    color: black;
}