@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.info button {
    position: absolute;
    display: flex;
    background-color: transparent !important;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 5vw;
    color: black;
    top: 6.15vh;
    margin-left: 77vw;
}

@media (max-width: 1024px) {
    .info button {
        font-size: 6.15;
    }
}


.info-modal {
    background-color: rgb(255, 15, 15);
    font-family: Arial;
    position: absolute;
    top: 150px;
    right: 180px;
    width: 100%;
    height: 150%;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items:normal;
    }

.info-modal button {
    position: absolute;
    right: 5vw;
    top: 100px;
    color: black;
    font-family: "Gruppo", Arial;
    font-size: 150px;
    background-color: transparent;
    border-color: transparent;
}


.info-modal h2 {
    position: absolute;
    top: 20px;
    margin: 400px 50px;
    background-color: blue;
    text-align: end;
    
}