<div class="slides" 
     (touchstart)="onTouchStart($event)" 
     (touchmove)="onTouchMove($event)" 
     (touchend)="onTouchEnd()" 
     (mousedown)="onMouseDown($event)" 
     (mousemove)="onMouseMove($event)" 
     (mouseup)="onMouseUp()">
    <div class="slide" [ngStyle]="{
        'background-image': 'url(' + slides[currentSlide].url + ')',
        opacity: hidden ? 0 : 1,
        transition: 'opacity ' + animationSpeed + 'ms ease-in-out'
    }"></div>

    <ng-container *ngIf="indicatorsVisible">
        <div id="indicators">
            <div *ngFor="let slide of slides; index as i" (click)="jumpToSlide(i)" class="indicator" [ngClass]="{ active: i == currentSlide }"></div>
        </div>
    </ng-container>

    <button (click)="next()" class="nextButton">
        <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
    <button (click)="previous()" class="previousButton">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
</div>
