:host {
    display: block;
    width: 100%;
}

.slides {
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 540px;
    border: 1px solid black;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#indicators {
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 50px;
    width: 200px;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 10%;
    background-color: #ffffff;
    display: inline-block;
    margin: auto 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.active {
    background-color: #4f4f4f;
    border: 1px solid rgb(144, 136, 255);
}


.nextButton,
.previousButton {
    position: absolute;
    top: 50%;
    border: 0px;
    background-color: transparent;
    font-size: 70px;
    color: #fff;
}

.nextButton {
    right: 2vw;
}

.previousButton {
    left: 2vw;
}